version: "3.9"

services:
  redis:
    image: redis-custom:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    command: >
      sh -c "redis-server /usr/local/etc/redis/redis.conf --requirepass \"$REDIS_PASSWORD\""
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
